@import "~antd/lib/style/themes/default.less";

@font-face {
  font-family: "Poppins";
  src: url("./assets//fonts/poppins/Poppins-Bold.eot");
  src: url("./assets//fonts/poppins/Poppins-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets//fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("./assets//fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("./assets//fonts/poppins/Poppins-Bold.ttf") format("truetype"),
    url("./assets//fonts/poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets//fonts/opensans/OpenSans-Regular.eot");
  src: url("./assets//fonts/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets//fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("./assets//fonts/opensans/OpenSans-Regular.woff") format("woff"),
    url("./assets//fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
    url("./assets//fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: "Open Sans";
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 700;
}

// variable changes
@primary-color: @red-6;
@normal-color: #999;

// scrollbar
&::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
  height: 2px;
}

&::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @primary-color;
}

* {
  scrollbar-color: @primary-color #f5f5f5;
  scrollbar-width: thin;
}

// ant button
button.ant-btn {
  &.ant-btn-primary {
    background-color: @primary-color;
    background: @primary-color;
    height: 45px;
    padding: 0 25px;
    border-radius: 6px;
    border: @primary-color;

    &:hover,
    &:focus {
      background-color: @primary-8;
      background: @primary-8;
      color: #fff;
    }
  }
}

.ant-layout {
  height: 100vh;
  max-height: 100vh;
}

.ant-layout-header {
  padding: 0 30px;
}

.ant-drawer-wrapper-body {
  background-color: @component-background;

  .ant-drawer-body {
    overflow: visible;
  }

  .ant-drawer-header-no-title {
    background-color: inherit;
  }
}

.ant-drawer-close {
  position: relative;
  float: right;
}

.ant-layout-sider {
  // height: 100vh;
  // background: @component-background;
  z-index: 9999;

  .ant-layout-sider-zero-width-trigger {
    background: @primary-color;
  }

  .ant-menu.ant-menu-root {
    height: 100%;
    overflow-y: auto;
    border: none !important;
    box-shadow: @box-shadow-base;
    background: @component-background;

    &.ant-menu-vertical {
      border: none;
    }

    .ant-menu-item {
      text-align: center;
      font-size: 16px;
      margin-bottom: 12px;

      &:hover {
        color: @primary-color;
      }

      a:hover {
        color: @primary-color;
      }

      &.ant-menu-item-selected {
        background: none;
        color: @primary-color;
        text-align: center;

        a {
          color: @primary-color;
        }
      }

      .ant-menu-item-active {
        background-color: none;
        color: @primary-color;
      }

      .anticon {
        font-size: 18px;
      }

      &:focus,
      &:active {
        background: none;
      }
    }
  }
  .ant-layout-content {
    height: 100vh;
    overflow: auto;
  }
}

.ant-menu-item {
  color: @text-color;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;

  &.ant-menu-item-selected {
    background: none;
    color: @primary-color;
    text-align: center;

    a {
      color: @primary-color;
    }
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}

.myImage {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 5px solid @primary-color;
  overflow: hidden;
  width: 200px;
  height: 200px;

  &.ill {
    background: @white;
  }
  img {
    width: 100%;
  }
}

.ant-switch {
  background: @black;
  margin: 15px;

  &:focus {
    box-shadow: 0 0 0 2px #f5f5f5;
  }
}

.ant-switch-checked {
  background: @primary-color;

  &:focus {
    box-shadow: 0 0 0 2px @primary-4;
  }
}

.lightmode {
  color: @normal-color;

  &.active {
    color: @primary-color;
  }
}

.darkmode {
  color: @normal-color;

  &.active {
    color: @primary-color;
  }
}

.content-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;

  .home-text {
    color: @white;

    &.content {
      font-size: 18px;
    }

    &.title {
      font-size: 35px;
    }
  }
}

.homeBG {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
}

.ant-spin {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  font-size: 35px;
}

.ant-btn:hover,
.ant-btn:focus {
  color: @primary-color;
  border-color: @primary-color;
}

.ant-drawer-body {
  padding: 0;
}

.ant-layout-content {
  .myGrid {
    padding: 20px;
    border: none;
    box-shadow: none;
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: @component-background;
  }
  .ant-divider.ant-divider-with-text {
    color: @primary-color;
    font-size: 35px;
  }
}

.ant-typography {
  font-size: 15px;
}

.ant-skeleton {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.ant-typography.inner_page_title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 45px;
  text-transform: uppercase;
}

.highlight {
  color: @primary-color;
}

.highlight-light {
  color: @primary-3;
}

.highlight-dark {
  color: @primary-8;
}

.list-highlight {
  color: @text-color-secondary;
}

.ant-btn.cv {
  height: 45px;
  padding: 3px 40px;
  border-radius: 10px;
  margin-top: 5px;
}

.custom-header {
  background: @body-background;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-btn {
    border: none;
    color: @primary-color;
    &:hover {
      border: none;
      background: none;
      color: @primary-color;
    }
  }
}

.myServices .ant-col {
  text-align: center;
  margin-bottom: 15px;

  .anticon {
    margin-bottom: 10px;
    font-size: 50px;
    color: @primary-4;
  }
}

// Biography
.biography-timeline {
  .timeline-time {
    font-size: 18px;
    font-weight: bold;
  }
  .timeline-content {
    .ant-typography {
      &.job {
        color: @primary-color;
      }
      &.company {
        margin: 0;
        margin-bottom: 15px;
      }
      &.content {
        display: block;
      }
    }
  }
}

// Contact form
.myForm {
  input.ant-input {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  TextArea.ant-input {
    resize: none;
    height: 120px;
  }
}

// Projects
.projects {
  .ant-col {
    text-align: center;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  h4.ant-typography {
    transition: 0.3s;
    &:hover {
      color: @primary-color;
    }
  }
}
